@media (min-width: 1200px) {
	.container {
		width: 1100px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	#page-title .container { 
		width: 100% !important;
	}
	
	/* =Portfolio
	-----------------------------------------------------------------*/
	.portfolio-item { width: 226px; }
	.portfolio-item .portfolio-image,
	.portfolio-item .portfolio-image a,
	.portfolio-item .portfolio-image img {
		width: 226px;
		height: 170px;
	}
	
	/* =Portfolio - Items - 1 Column
	-----------------------------------------------------------------*/
	.portfolio-1 .portfolio-item .portfolio-image,
	.portfolio-1 .portfolio-item .portfolio-image a,
	.portfolio-1 .portfolio-item .portfolio-image img {
		width: 560px;
		height: 339px;
	}
	.portfolio-1 .portfolio-desc { width: 340px; }
	.bothsidebar #portfolio-shuffle,
	.postcontent .portfolio-1 .iconlist { display: none; }
	.postcontent .portfolio-1 .portfolio-item .portfolio-image,
	.postcontent .portfolio-1 .portfolio-item .portfolio-image a,
	.postcontent .portfolio-1 .portfolio-item .portfolio-image img {
		width: 400px;
		height: 222px;
	}
	.postcontent .portfolio-1 .portfolio-desc {
		width: 250px;
		padding: 0;
	}
	.bothsidebar .portfolio-1 .portfolio-item { width: 100% !important; }
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-image,
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-desc {
		float: none;
		margin: 0 !important;
	}
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-image { margin-bottom: 20px !important; }
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-image,
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-image a,
	.bothsidebar .portfolio-1 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	.bothsidebar .portfolio-1 .portfolio-desc {
		width: 100%;
		padding: 0;
	}
	
	/* =Portfolio - Items - 2 Columns
	-----------------------------------------------------------------*/
	.portfolio-2 .portfolio-item { width: 460px; }
	.portfolio-2 .portfolio-item .portfolio-image,
	.portfolio-2 .portfolio-item .portfolio-image a,
	.portfolio-2 .portfolio-item .portfolio-image img {
		width: 460px;
		height: auto;
	}
	
	/* =Portfolio - Items - 3 Columns
	-----------------------------------------------------------------*/
	.portfolio-3 .portfolio-item { width: 303px; }
	.portfolio-3 .portfolio-item .portfolio-image,
	.portfolio-3 .portfolio-item .portfolio-image a,
	.portfolio-3 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	
	/* =Portfolio - Items - 4 Columns
	-----------------------------------------------------------------*/
	.portfolio-4 .portfolio-item { width: 220px; }
	.portfolio-4 .portfolio-item .portfolio-image,
	.portfolio-4 .portfolio-item .portfolio-image a,
	.portfolio-4 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 991px) {
	
	/* = Frontpage Boxes
	-----------------------------------------------------------------*/
	#frontpage-boxes div[class*="fbox"] {
		margin-bottom: 40px;
	}
	#frontpage-boxes div[class*="fbox"]:last-child {
		margin-bottom: 0;
	}
	
	/* =Portfolio - Items
	-----------------------------------------------------------------*/
	#portfolio:not(.portfolio-1) { margin: 0 -12px -12px 0 !important; }
	#portfolio:not(.portfolio-1) .portfolio-item {
		width: 232px;
		margin: 0 12px 12px 0;
	}
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image a,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	
	/* =Portfolio - Items - 1 Column
	-----------------------------------------------------------------*/
	#portfolio.portfolio-1 .portfolio-item .portfolio-image {
		float: none !important;
		margin: 0 !important;
		margin-bottom: 10px !important;
	}
	#portfolio.portfolio-1 .portfolio-item .portfolio-image,
	#portfolio.portfolio-1 .portfolio-item .portfolio-image a,
	#portfolio.portfolio-1 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	#portfolio.portfolio-1 .portfolio-desc { width: 100%; }
	
	/* =Portfolio - Items - 4 Columns
	-----------------------------------------------------------------*/
	.portfolio-4 .portfolio-item { width: 165px !important; }
	.portfolio-4 .portfolio-item .portfolio-image,
	.portfolio-4 .portfolio-item .portfolio-image a,
	.portfolio-4 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	
	/* = WooCommerce
	-----------------------------------------------------------------*/
	.custom_cart_button.single_button .button.show_details_button {
		margin-top: 20px;
		float: left;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	
	/* =Portfolio - Items
	-----------------------------------------------------------------*/
	#portfolio:not(.portfolio-1) { margin: 0 -6px -6px 0; }
	#portfolio:not(.portfolio-1) .portfolio-item { margin: 0 6px 6px 0; }
	
	/* =Portfolio - Items - 5 & 6 Columns
	-----------------------------------------------------------------*/
	#portfolio:not(.portfolio-1) .portfolio-item { width: 217px; }
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image a,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}

	/* =Portfolio - Items - 5 & 6 Columns - No Margin
	-----------------------------------------------------------------*/
	#portfolio.portfolio-nomargin:not(.portfolio-1) .portfolio-item { width: 219px; }
	#portfolio.portfolio-nomargin:not(.portfolio-1) .portfolio-item .portfolio-image,
	#portfolio.portfolio-nomargin:not(.portfolio-1) .portfolio-item .portfolio-image a,
	#portfolio.portfolio-nomargin:not(.portfolio-1) .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	
	/* =Portfolio - Items - Descriptions
	-----------------------------------------------------------------*/
	#portfolio:not(.portfolio-1) .portfolio-desc { padding: 15px 5px 10px; }
	#portfolio:not(.portfolio-1) .portfolio-desc h3 { font-size: 16px; }
	#portfolio:not(.portfolio-1) .portfolio-desc span { font-size: 14px; }
	#portfolio.portfolio-notitle:not(.portfolio-1) .portfolio-desc {
		height: 78px;
		padding: 15px 5px;
		bottom: -79px;
	}
	#portfolio.portfolio-full.portfolio-notitle:not(.portfolio-1) .portfolio-desc,
	#portfolio.portfolio-nomargin.portfolio-notitle:not(.portfolio-1) .portfolio-desc {
		bottom: -78px;
		border-bottom: 0;
	}
	
	/* =Portfolio - Items - Overlay
	-----------------------------------------------------------------*/
	#portfolio.portfolio-notitle:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay a.left-icon,
	#portfolio.portfolio-notitle:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay a.right-icon,
	.portfolio-notitle .iportfolio:hover .portfolio-overlay a.left-icon,
	.portfolio-notitle .iportfolio:hover .portfolio-overlay a.right-icon { margin-top: -55px !important; }
	#portfolio:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay .portfolio-desc ~ a { margin: 20px 0 0 !important; }
	#portfolio:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay .portfolio-desc ~ a.right-icon {
		margin-left: 5px !important;
		margin-right: 0 !important;
	}
	
	/* =Portfolio - Items - 1 Column
	-----------------------------------------------------------------*/
	.portfolio-1 .portfolio-item .portfolio-image {
		float: none !important;
		margin: 0 !important;
		margin-bottom: 10px !important;
	}
	.portfolio-1 .portfolio-item .portfolio-image,
	.portfolio-1 .portfolio-item .portfolio-image a,
	.portfolio-1 .portfolio-item .portfolio-image img {
		width: 100%;
		height: auto;
	}
	.portfolio-1 .portfolio-desc { width: 100%; }
	
}

@media (max-width: 767px) {
    body.vision-404 h1.entry-title {
        font-size: 20px !important;
    }
    body.vision-404 .entry-content p.desc-404 {
        font-size: 15px !important;
    }
    body.vision-404 .entry-content p.num-404 {
        font-size: 140px !important;
    }
	.button.button-xlarge {
		font-size: 16px !important;
		padding: 0 22px !important;
		height: 40px !important;
		line-height: 40px !important;
	}
	
	#main-wrapper {
		max-width: 767px !important;
		box-shadow: none !important;
	}
	#page {
		padding: 0 30px;
	}
	#primary {
		padding: 0 !important;
	}
	#primary #content {
		max-width: 100% !important;
	}
	.sticky-header {
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}
	
	/* = Slider
	-----------------------------------------------------------------*/
	#agama_slider h2.slide-title {
		font-size: 36px !important;
	}
	
	/* = Breadcrumb
	-----------------------------------------------------------------*/
	#page-title .container { 
		text-align: center;
		width: 100% !important;
	}
	#page-title .breadcrumb {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		margin: 15px 0 0 !important;
	}
	
	/* = Frontpage Boxes
	-----------------------------------------------------------------*/
	#frontpage-boxes .col-md-3 {
		margin-bottom: 30px;
	}
	
	/* = Blog Articles
	-----------------------------------------------------------------*/
	.list-style article .entry-date { display: none; }
	.list-style article .entry-content { margin-left: 0 !important; }
	nav.nav-single a { font-size: 10px; }
	.si-share span { display: none; }
	
	/* = Blog Small Thumbs Layout
	-----------------------------------------------------------------*/
	.small-thumbs .entry-image {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	
	/* = WooCommerce
	-----------------------------------------------------------------*/
	ul.products li {
		width: 48% !important;
	}
	ul.products li:nth-child(even) {
		margin-right: 0 !important;
	}
	.custom_cart_button.single_button .button.show_details_button {
		margin-top: 0 !important;
		float: right !important;
	}
	.woocommerce .col2-set .col-1, 
	.woocommerce-cart .cart_totals, 
	.woocommerce-cart .update_cart, 
	.woocommerce-page .col2-set .col-2 {
		width: 100%;
	}
	.woocommerce ul.products li.first, 
	.woocommerce-page ul.products li.first {
		clear: right !important;
	}
	.woocommerce.columns-3 ul.products li.last, 
	.shop_three_col.last {
		margin-right: 2.4% !important;
	}
	ul.products {
		padding: 0 15px !important;
	}
	.filter_param.filter_param_order {
		width: 83% !important;
	}
	.filter_param.filter_param_sort {
		margin-right: 0 !important;
	}
	.filter_param.filter_param_count {
		margin-right: 0 !important;
		width: 100%;
	}
	.woocommerce table.shop_table, 
	.woocommerce-page table.shop_table {
		text-align: center;
	}
	.woocommerce table.shop_table th, 
	.woocommerce-page table.shop_table th {
		line-height: 18px;
		padding: 31px 0px !important;
		text-align: center;
	}
	.shop_table th, 
	td.product-name, 
	td.product-price, 
	td.product-subtotal {
		font-size: 11px !important;
	}
	.product-thumbnail, 
	.product_thumb_wrapper, 
	.user_current_cart .product-remove {
		display: none;
	}
	.woocommerce table.cart a.remove, 
	.woocommerce #content table.cart a.remove, 
	.woocommerce-page table.cart a.remove, 
	.woocommerce-page #content table.cart a.remove	{
		width: 11.5px !important;
		height: 11.5px !important;
		line-height: 11.5px !important;
		font-size: 11px !important;
	}
	.woocommerce-cart .quantity input.minus,
	.woocommerce-cart .quantity input.plus {
		display: none;
	}
	.woocommerce-cart .update_cart {
		float: left;
		margin-top: 10px !important;
		padding: 0 5px;
	}
	.woocommerce-cart .coupon {
		width: 100%;
		margin: 0 !important;
		padding: 0 5px;
	}
	.woocommerce-cart .coupon input {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.woocommerce-cart .coupon input[type=submit] {
		margin-top: 10px !important;
	}
	.woocommerce-cart .update_cart input {
		width: 100%;
	}
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
		float: none;
	}
	.wc-proceed-to-checkout .checkout-button {
		width: 100%;
		text-align: center;
	}
	.single-product .images {
		float: none;
		width: 100% !important;
	}
	.single-product .woocommerce-main-image img {
		width: 100%;
	}
	.single-product .thumbnails {
		display: none;
	}
	.woocommerce div.product div.summary, 
	.woocommerce #content div.product div.summary, 
	.woocommerce-page div.product div.summary, 
	.woocommerce-page #content div.product div.summary {
		float: none !important;
		width: 100% !important;
	}
	.woocommerce div.product div.summary p.stock, 
	.woocommerce #content div.product div.summary p.stock, 
	.woocommerce-page div.product div.summary p.stock, 
	.woocommerce-page #content div.product div.summary p.stock {
		font-size: 10px !important;
		text-align: right !important;
	}
	.single-product .woocommerce-variation-availability p.stock {
		text-align: left !important;
	}
	.single-product form.cart .quantity {
		margin-right: 10px !important;
	}
	.single-product form.cart .quantity .qty {
		width: 35px !important;
		padding: 10px !important;
	}
	.single-product .quantity .plus, 
	.single-product .quantity .minus {
		width: 30px !important;
	}
	.woocommerce-tabs .tabs {
		width: 100% !important;
	}
	.woocommerce-tabs .tabs li {
		float: none !important;
	}
	
	/* = Footer
	-----------------------------------------------------------------*/
	footer .footer-sub-wrapper .col-md-6 {
		text-align: center;
	}
	footer .footer-sub-wrapper .col-md-6:nth-child(2) {
		padding-top: 20px;
	}
}

@media (max-width: 479px) {
	
	.sticky-header .pull-left {
		float: none;
	}
	
	header h1.site-title a {
		width: 100%;
		text-align: center;
	}
	
	.mobile-menu-icons {
		content: " ";
		clear: both;
		display: block;
		width: 100%;
	}
	
	.header_v1 nav.mobile-menu {
		clear: both;
	}
	
	.button.button-xlarge {
		font-size: 12px !important;
		padding: 0 5px !important;
	}
	
	/* = Slider
	-----------------------------------------------------------------*/
	#agama_slider h2.slide-title {
		font-size: 28px !important;
	}
	
	.container {
		width: 310px !important;
	}
	
	/* = Portfolio
	-----------------------------------------------------------------*/
	#portfolio-filter li { width: 50%; }
	#portfolio:not(.portfolio-1) { margin: 0 !important; }
	#portfolio:not(.portfolio-1) .portfolio-item { width: 250px; }
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image a,
	#portfolio:not(.portfolio-1) .portfolio-item .portfolio-image img {
		width: 250px;
		height: auto;
	}
	
	/* = WooCommerce
	-----------------------------------------------------------------*/
	ul.products li {
		width: 100% !important;
		margin-right: 0 !important;
	}
	
	/* = reCaptcha
	-----------------------------------------------------------------*/
	body.page-template-contact .g-recaptcha {
		transform:scale(0.67);
		-webkit-transform:scale(0.67);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	
	#contact-form-overlay .fancy-title h3 {
		font-size: 100%;
		font-weight: bold;
	}
	
}